# Celo Alfajores Testnet
CELO_ALFAJORES_URL=https://alfajores-forno.celo-testnet.org
PRIVATE_KEY=your_private_key_here

# Celo Mainnet
CELO_MAINNET_URL=https://forno.celo.org
CELOSCAN_API_KEY=your_celoscan_api_key_here
